.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
notifications/out
notifications/notifications-web/out
microservices/gateway/out
microservices/config/out
microservices/registry/out
microservices/gateway/out
microservices/test-service/out
microservices/gateway/build
microservices/config/build
microservices/registry/build
microservices/gateway/build
microservices/test-service/build
mongo-reactive/out
