img.group-icon {
  object-fit: fill;
  object-position: center;

  &:hover {
    cursor: pointer;
  }

}

.icon-placeholder {
  display: flex;
  align-items: center;
  border: lightgray dashed 2px;
  color: lightgray;
  font-size: 8px;
  text-align: center;
  padding-left: 6px;

  &:hover {
   cursor: pointer;
  }
}

.group-icon {
  height: 38px;
  width: 38px;
}
