.messages {
  overflow-y: auto;
}

.column {
  padding: 1rem;
  &:not(:last-child) {
    border-right: 1px solid lightgray
  }

  &:first-child {
    padding-left: 1rem;
  }

  &:last-child {
    padding-right: 1rem;
  }
}

.row {
  padding-bottom: unset !important;
}
